*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    height: 100vh;
}

nav
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    color: white;
    font-size: 15px;
    background-color: black;
}

.btns
{
    width: 100%;
    height: 89%;
    background-color: rgb(83, 82, 82) ;
}
.row, .row2
{
    width: 100%;
    height: 50%;
    border: 1px solid pink;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.btn
{
    border-radius: 10px;
    width: 120px;
    height: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.6s;
    background-color: red;
    color: white;
    border: 2px solid black;
}
.row2 .btn{
    border-radius: 100px;
}

.btn1
{
    background-color: #1E3A8A;
}.btn2
{
    background-color: #1F2937;
}.btn3
{
    background-color: #065F46;
}.btn4
{
    background-color: #5B21B6;
}.btn5
{
    background-color: #991B1B;
}
.btn6
{
    background-color: #0F766E;
}.btn7
{
    background-color: #1E40AF;
}.btn8
{
    background-color: #3F6212;
}.btn9
{
    background-color: #334155;
}.btn10
{
    background-color: #1E1B4B;
}



.btn:hover
{
    border: none;
    color: black;
    background-color: #fff;
    transform: scale(1.1);
}
.btn1:hover
{
    box-shadow: 0 0 20px 5px rgba(30, 58, 138, 0.8);
}
.btn2:hover
{
    box-shadow: 0 0 20px 5px rgba(31, 41, 55, 0.8)
}
.btn3:hover
{
    box-shadow: 0 0 20px 5px rgba(6, 95, 70, 0.8);
}
.btn4:hover
{
    box-shadow: 0 0 20px 5px rgb(91, 33, 182, 0.8);
}
.btn5:hover
{
    box-shadow: 0 0 20px 5px rgba(153, 27, 27, 0.8);
}
.btn6:hover
{
    box-shadow: 0 0 20px 5px rgba(15, 118, 110, 0.8);
}
.btn7:hover
{
    box-shadow: 0 0 20px 5px rgba(30, 64, 175, 0.8);
}
.btn8:hover
{
    box-shadow: 0 0 20px 5px rgba(63, 98, 18, 0.8);
}
.btn9:hover
{
    box-shadow: 0 0 20px 5px rgba(51, 65, 85, 0.8)
}
.btn10:hover
{
    box-shadow: 0 0 20px 5px rgba(30, 27, 75, 0.8);
}