*{
    /* font-family: "Segoe UI", sans-serif; */
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
body, html{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background: linear-gradient(135deg, #6a11cb, #2575fc); */


}
#title{
    font-size: 30px;
    margin: 0px;
    padding: 10px;
    
}
html{
    background: linear-gradient(135deg, #6a11cb, #2575fc); 

}
.login-card{
    width: 250px;
    height: 350px;
    background-color: rgb(235, 232, 232);
    /* border: black; */
    border-radius: 30px 30px 0px 30px;
    /* border: 2px solid black; */
    text-align: center;
    box-shadow: 0 0 2px black;
    padding: 40px;
    position: relative;


}

/* .input input{
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
} */


#login{
    position: absolute;
    top: 60%;
    left: 50%; 
    translate: -50% -50%;  
    width: 230px;
    height: 40px;
    padding: 0;
    margin: 0px;
    border: 2px solid transparent;
    font-size: 15px ;
    border-radius: 100px;
    cursor: pointer;
    /* background: linear-gradient(45deg, #6a11cb,#2575fc); */
    background: linear-gradient(to right, #8648c9, #ea2fea);

}
#forgot{
    position: absolute;
    top: 210px;
    right: 44px;
    cursor: pointer;
    font-size: 13px;
    color: blue;

}
.Text{
    position: absolute;    
    left:10px;
    font-size: 13px;

}

#TextID1{
    top: 100px;
    left: 50px;
}#TextID2{
    top: 154px;
    left: 50px;
}

.username{
    position: absolute;
    left: 50px;
    top: 124px;  
    border-radius: 5px;
    /* border: 2px  solid black; */
}
.password{
    position: absolute;
    left: 50px;
    top: 178px;  
    border-radius: 5px;
    /* border: 2px  solid black; */


}

.input{
    width: 210px;
    padding: 5px 9px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    font-size: 14px;

}

.signup{
    width: 30px;
    height: 30px;
    background-color: transparent;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
}
.google{
    top: 340px;
    left: 35% ;
    translate: -50% -50%;
    background-image: url(google.png);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;

}.facebook{
    top: 340px;
    left: 50%;
    translate: -50% -50%;
    background-image: url(facbook.webp);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}.twitter{
    top: 340px;
    left: 65%;
        translate: -50% -50%;
        background-image: url(twittertwo.png);
        background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;

}

.Or1{
    position: relative;
    top: 200px;
    font-size: small;
    color: #555;
}
.Or2{
    position: relative;
    top: 200px;
    font-size: small;
    color: #000000;
    top: 270px;
    font-size: 10px;
}

#signupa{
    font-size: 13px;
    text-decoration: none;

}

