body, html {
    background-color: #1F1F1F;
    color: #fff;
}
*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 25px 0px 25px 0px;
}

nav{
    flex : 2;
    text-align: right; 
}

nav ul{
    display : inline-block;
}

nav ul li{
    display: inline-block;
    margin-right: 50px;
    cursor: pointer;
}

nav ul li a{
    text-decoration: none;
    color: #bde3fc;
    font-size: 20px;


}
nav ul li a:hover{
    color: #98d3fa;
    text-decoration: underline;
}


.logo
{
    font-size: 2.5rem;
    color: #98d3fa;
}

.header
{
    width: 1300px;
    margin: auto;
    padding: 0px 20px 0px 20px;
    top: 0;
    position: sticky;
    flex: 1;
    z-index: 1000;

}

.hero{
    height: 90vh;
    width: 90%;
        margin: 0px 20px 0 150px;
        padding: 50px 150px 220px 100px;

}

.hero h1{
    font-size: 35px;
    color: #ffffff;
    
}
.hero h2{
    color: #fff ;
    font-size: 35px;
    margin: 0;
}
.hero .subtext
{
    color: white;
    font-size: 20px;
    margin-bottom: 10%;
}

.hero-text{
    padding-top: 150px;
    display: flex;
    flex-direction: column;

}
.hero-text div button
{
    display: inline;
    padding: 10px 40px;
    font-size: 15px;
    background: #B6BBBF;
    border-radius: 100px;
    /* border: 2px solid black; */
    border: none;
    cursor: pointer;


}
.hero-text div button:hover
{
    background: #e6e8e9;
   
}

.hero-dis
{
    margin-top: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15%;

}

.hero-dis img
{
    width: 450px;
    display: inline;
}




.collections
{
    /* height: ; */
    /* background: linear-gradient(#757575, #757575); */
    /* background-color: #F8F8F8; */
    padding: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 70px;

}
.collections h3
{
    font-size: 35px;
    color: white;
}

.collection-first
{
    display: flex;
    flex: 2;
    justify-content: space-evenly;
    gap: 60px;

}

.collection-first img{
    border-radius: 100px;
}
 

.collection-first .img1,
.collection-first .img2,
.collection-first .img3{
    border-radius: 30px;
    height : 350px; 
    border: 2px solid black; 
    background-color: #292929;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    font-size: 30px; 
    padding-top: 10px; 
    color: white; 
    position: relative; 
    transition: transform 0.5s, height 0.2s; 
    cursor: pointer; 
}

.collection-first .img1:hover,
.collection-first .img2:hover,
.collection-first .img3:hover
{
    transform: scale(1.1);
}


.story
{
    height: 80vh;
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 150px 150px 220px 300px;
    gap: 150px;


}


.story-text
{
    display: flex;
    flex-direction: column;
}

.story-text h2{
    font-size: 45px;
    border-top: 3px solid #EFBE8A;


}
.story-text h3{
    margin-top: 50px;
    font-size: 40px;
}
.story-text p{
    margin-top: 20px;
    font-size: 20px;
}

.story-text .discover button{
    display: inline;
    padding: 10px 40px;
    font-size: 15px;
    background: #B6BBBF;
    border-radius: 100px;
    /* border: 2px solid black; */
    border: none;
    cursor: pointer;
}
.story-text .discover button:hover{
    background-color: #e6e8e9;
}

.on-wrist-bg
{
    background: #EFBE8A;
}

.on-wrist-img{
    position: relative;
    bottom: 50px;
    left: 50px;
}

